.intro {
  position: relative;
  background-image: url("../images/home-image.png");
  height: 80dvh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.intro__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  z-index: 1;
}

.intro__text h1 {
  font-size: 80px;
  font-weight: 500;
}

.intro__text p {
  font-size: 25px;
}

.intro__text button {
  padding: 5px 40px;
  font-size: 40px;
  margin-top: 40px;
}

.home__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 0px;
}

.about__container {
  display: grid;
  grid-template-columns: 55% 45%;
  max-width: 1200px;
  width: calc(100% - 10px);
  gap: 40px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about__text h1 {
  border-bottom: 4px solid var(--accent);
  display: block;
  width: fit-content;
}

.about__video {
  background-color: gray;
}

.home__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 100px 0;
}

.home__cards .card {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 420px;
  aspect-ratio: 4/5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 60px 30px 0 30px;
  color: white;
}

.home__cards .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.home__cards .card svg,
.home__cards .card h2,
.home__cards .card p {
  z-index: 2;
  text-align: center;
}

.home__cards .card svg {
  height: 80px;
  width: 80px;
}

.home__cards .card h2 {
  border-bottom: 4px solid var(--accent);
  font-family: Oswald;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 20px;
}

.home__cards .card p {
  font-size: 25px;
}

.home__testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__testimonials .header {
  border-bottom: 4px solid var(--accent);
}

.testimonial-swiper {
  width: 100%;
  padding: 20px 40px;
  overflow: visible;
}

.testimonial-card {
  height: 400px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  margin: 20px;
}
